.App{
  /* width: 1024px; */
  /* margin-top: 300px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  box-shadow: rgba(100, 100, 111, 0.2) 10px 10px 10px 10px;
  margin: 30px;
}
