.card {
    border: 1px solid #e0e0e0;
    margin: 2px;
    padding: 15px;
    background: #112949;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
    color: white;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    width: 175px;
    /* width: 100%;
         max-width: 311px; */
    /* height: 254px; */

}

@media (min-width: 580px) {
    .card {
        height: 175px;
    }
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}